.root{
    -fx-background-color: #2980B9;
    -fx-font-size: 16px;
    -fx-font-family: Copperplate;
    -fx-text-fill: #fff;
}
.button{
    -fx-background-color: #000000;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
}